@CHARSET "ISO-8859-1";
#sectionAdministrate1{
        width: 60%;        
        margin: 0.5% auto;        
        background-color: #000000;                
        min-height:100px;
        
        /*-----------------Google Crome and Opera------------------------*/
        display: -webkit-flex;
        -webkit-flex-direction:column;
        -webkit-justify-content:center;
        -webkit-align-items:center;
        
        /*-------------Firefox, explorer and w3c-------------------------*/
        display: flex;
        flex-direction:column;         
        justify-content:center; 
        align-items:center;              
}
#sectionAdministrate1 header{
		/*-----------------Google Crome and Opera------------------------*/        
        display:-webkit-flex;
        -webkit-flex-direction:column;
        -webkit-align-items:center;
        
		/*-------------Firefox, explorer and w3c-------------------------*/
			display:flex;
			flex-direction:column;
			align-items:center;
}
#navContAdministrate{			        
        width:99%;        
        margin: 1% auto;
        min-height:50px;
        display:-webkit-flex;
        
		/*-----------------Google Crome and Opera------------------------*/        
        -webkit-flex-direction:column;
        -webkit-align-items:center;   
        
      /*-------------Firefox, explorer and w3c-------------------------*/
      	flex-direction:column;
      	align-items:center;                     
}
ul#menulistAdmin, ul.subOne, ul.subTwo{
        list-style-type: none;
        margin:0px;
        padding:0px;                
        /*outline:1px solid red;*/ 
        width: 100%;  
}
ul#menulistAdmin li{        
        position: relative;
        float:left;
        width:20%;
        min-height: 30px;        
        text-align:center;
}
ul#menulistAdmin li a{        
        display:block;
        width: 100%;
        min-height:30px;
        text-decoration:none;
        clear:both;        
        border:1px solid #143270;
        font-size: 100%;
        line-height: 30px; 
        border-radius: 5px;        
}
ul#menulistAdmin ul.subOne {                
        /*Important! Its impossible to use position absolute, the nested menu will not push parent div*/
        position: relative;        
        display:none;
        background-color:#000000;        
        min-height:100px;
}
ul#menulistAdmin ul.subOne li{
		position: relative;
      display: block;
      width:100%;
      min-height: 30px;        
		text-align:center;
}
ul#menulistAdmin ul.subOne a{
		display:block;
      width: 100%;
      min-height:30px;
      text-decoration:none;
      clear:both;        
      border:1px solid #143270;
      font-size: 17px;
      line-height: 30px; 
      border-radius: 5px; 
}
ul#menulistAdmin ul.subOne li{
        min-height:30px;
}
ul#menulistAdmin ul.subOne li a{
        min-height:30px;
}
ul#menulistAdmin ul.subTwo{                
        position:absolute;        
        top: 0%;
        left:100%;        
        display:none;
        border-radius: 5px;
        min-height:100px;
}
ul#menulistAdmin ul.subTwo li{
      min-height:30px;
      position: relative;
      display: block;
      width:100%;
      min-height: 30px;        
		text-align:center;
}
ul#menulistAdmin ul.subTwo li a{
      min-height:30px;
      display:block;
      width: 100%;
      min-height:30px;
      text-decoration:none;
      clear:both;        
      border:1px solid #143270;
      font-size: 17px;
      line-height: 30px; 
      border-radius: 5px;         
}
ul#menulistAdmin li:hover .subOne{
        display:block;        
}
ul#menulistAdmin .subOne li:hover .subTwo{
        display:block;        
}
ul#menulistAdmin li:hover > a{                        
        color:#FBCB09;
        font-weight:bold;
}
ul#menulistAdmin li:hover a:hover{
        color:#707070;
        font-weight:bold;
}
.downArrow{
        /*
        top:2px;
        right:10px;
			*/        
        font-size: 14px;        
        position:relative;
}
.rightArrow{
			/*        
        top:2px;
        right:10px;
        */
        font-size: 14px;
        position:relative;
}
.clear{
        clear:both;
        margin:0px;
        padding:0px;
}
/*--------------------------------------------------Second part of page------------------------------------------------------*/

/*-----------------------------------------------------Delete booking---------------------*/
#delete_booking_wrapper{                
        width:99%;
        height:400px;        
        /*border:1px solid #008000;*/
        display:none;        
        background-color:#000000; 
        padding:0%;
        margin:0%;
        overflow: auto;
        
        /*-------------Google crome and Opera---------*/
        	-webkit-flex-direction:column;
        	-webkit-justify-content:flex-start; 
        	-webkit-align-items:center;       	
        /*-------------Explorer, Firefox and W3C------*/
        	flex-direction:column;        
        	justify-content:flex-start;  
        	align-items:center;      	             
}
#delete_booking_wrapper header{
	/*-------------Google crome and Opera---------*/
	display: -webkit-flex;	
	-webkit-flex-direction:column;
   -webkit-justify-content:flex-start;
      
   /*-------------Explorer, Firefox and W3C------*/
	 display: flex;   
    flex-direction:column;
    justify-content:flex-start;     
}
#deleteRoomCont{
	width:100%;	
	/*-------------Google crome and Opera---------*/
		display: -webkit-flex;
		-webkit-flex-direction:column;
		-webkit-align-items:center;
	 /*-------------Explorer, Firefox and W3C------*/
	 	display:flex;
	 	flex-direction:column;	
	 	align-items:center; 	
}
#tAdminDeleteRoom{
	width: 100%;
	/*-------------Google crome and Opera---------*/
		display: -webkit-flex;
		-webkit-flex-direction:column;		
	 /*-------------Explorer, Firefox and W3C------*/
	 	display:flex;
	 	flex-direction:column;		 		
}
#tAdminDeleteRoom thead, #tAdminDeleteRoom tbody{
	/*-------------Google crome and Opera---------*/
	display: -webkit-flex;
	-webkit-flex-direction:column;

	/*-------------Explorer, Firefox and W3C------*/
	display: flex;
	flex-direction:column;	
} 
#tAdminDeleteRoom tr{
	/*-------------Google crome and Opera---------*/	
	display: -webkit-flex;
	-webkit-flex-direction:row;
	
	/*-------------Explorer, Firefox and W3C------*/
	display: flex;
	flex-direction:row;			
	
}
#tAdminDeleteRoom td{
	/*-------------Google crome and Opera---------*/		
	-webkit-flex:1;
	display: -webkit-flex;
	-webkit-justify-content:center;
	-webkit-align-items:center;
	
		
	/*-------------Explorer, Firefox and W3C------*/	
	display: flex;
	flex:auto;	
	justify-content:center;
	align-items:center;	
/*************SET WIDTH TO 1% IS VERY IMPORTANT*************************************/
	width: 1%;
	font-size: 90%;
	
}
#tAdminDeleteRoom, #tAdminDeleteRoom td{
	/*border:1px solid green;*/	
} 
#tAdminDeleteRoom tr:nth-child(even){
	background-color: #0F0F0F;	
}
#tAdminDeleteRoom thead tr:first-child{
	background-color: #0F0F0F;	
}
#adminDeleteBooking{
	width: 20%;
	margin-top: 2%;
	border-radius:10px;	
}
/*The dialog container*/
#confDelBooking{
	display: none	
}
.ui-dialog{
	background: #181818;
		
}
.ui-dialog-titlebar{	
	background: #000000;
	color: #FFFFFF;	
}
.ui-dialog-title{	
	text-align: center;	
}
.ui-dialog-content{
	background: #606060;
	color: #FFFFFF;
	text-align: center;	
}
/**********************UPLOAD PICTURE************************************************************/
#upload_pic_wrapper{                
        width:99%;
        height:400px;        
        border:1px solid #008000;
        display:none;        
        background-color:#000000; 
        padding:0%;
        margin:0%;
        overflow: auto;
        
        /*-------------Google crome and Opera---------*/
        	-webkit-flex-direction:column;
       	-webkit-justify-content:flex-start;        	
        /*-------------Explorer, Firefox and W3C------*/
        	flex-direction:column;        
        	justify-content:flex-start;        	             
}
#upload_pic_wrapper heading{
			/*-------------Google crome and Opera---------*/
			display:-webkit-flex;        	
        	-webkit-flex-direction:column;
       	-webkit-justify-content:flex-start;
       	-webkit-align-items: center;        	
        /*-------------Explorer, Firefox and W3C------*/
			display: flex;        	
        	flex-direction:column;        
        	justify-content:start;
        	align-items:center; 	
}
#upload_pic_wrapper form{
		/*-------------Google crome and Opera---------*/
			display:-webkit-flex;        	
        	-webkit-flex-direction:column;
       	-webkit-justify-content:flex-start;
       	/*-webkit-align-items: center; */       	
        /*-------------Explorer, Firefox and W3C------*/
			display: flex;        	
        	flex-direction:column;        
        	justify-content:start;
        	/*align-items:center;*/ 
}

 


@media only screen and (min-width:1px) and (max-width:600px){
		#sectionAdministrate1{
			width: 100%;	
		}
		#navContAdministrate{			        
        width:100%;    	
		}
		ul#menulistAdmin li{  
      	width:100%;        
		}		
}



