@CHARSET "ISO-8859-1";
#section_content_booking1{
	width:60%;
	min-height: 400px;
	/*border: 1px dashed orange;*/
	margin: 0.5% auto;
	background-color: #000000; 
}
/* ------------------------------------------------------First part----------------------------------------------------------------------*/
#articleBooking1{
	display: block;
	width: 100%;
	height: 400px;
	/*border: 2px dashed red;*/
	margin: 0% auto;
}
#bookingText{
	float:left;
	width: 40%;
	height: 310px;
	/*border: 1px dashed red;*/
	margin:1% 2%;	
	text-align: center;	
}
#makeBooking{
	color:red;
}
#bookingPictures{
	float:left;	
	width: 44%;
	height: 300px;
	/*border: 1px dashed blue;*/
	margin:1% 1%;		
}
#bookingFramePic{
	width: 100%;
	height:100%;
	display:block;
	/*border:1px solid yellow;*/
	text-align: center;
}
.bookingImageRoom{
	width:100%;
	height:270px;	
	/*border:1px solid green;*/
}
/* ------------------------------------------------------Second part----------------------------------------------------------------------*/
#articleBooking2{
	display: none;
	width: 100%;
	height: 450px;	
	margin: 0% auto;
}
#bookingContinfo{
	width:100%; 	
	display:block;	
	padding-top:1%;
	text-align: center;
	margin: 0% auto;
}
#bookingFromToCont{	
	width:50%;
	height:30%;	
	/*border:1px solid green;*/
	display: block;
	margin: 0% auto;	
}
#bookingFromCont{
	/*float:left;*/
	display:block;
	width:100%;
	height:49%;
	/*border:1px solid red;*/
	text-align: center;		
}
#bookingToCont{
	/*float:left;*/
	display:block;	
	width:100%;
	height:49%;
	/*border:1px solid red;*/
	text-align: center;
}
#bookingFromCont h3, #bookingToCont h3{
	text-align: center;
	/*border:1px solid green;*/
	width:50%;
	margin:0% auto;
}
#bFromDate, #bToDate{
	text-align: center;
	width: 40%;
	font-size: 87%;					
}
#buttonSearchRoom{	
	font-size: 20px;
	width:42%;	
}
.button{
	border-radius:4px;
}
#bookingDivButton{
	clear: both;	
	width: 50%;
	height: 30px;
	margin:0.5% auto;
	/*border:1px solid yellow;*/
	text-align: center;	
}
/*----------------------------------------------------Results section of booking-----------------------------------------*/
#result_booking{
	width: 100%;
	height: 550px;	
	display: none;
	margin: 0% auto;
	/*border:1px solid green;*/		
	/*I HAVE SET DISPLAY TO BOX IN JS FILE!*/
		
	
	/*---------------------Safari, Opera and Crome-------------------------------------*/	
	-webkit-box-orient: vertical;	
	/*-webkit-box-pack: center;*/
	
	/*---------------------Firefox-----------------------------------------------------*/
	/*-moz-box-orient:vertical;*/
	flex-direction:column;
	
	/*---------------------EXPLORER 10--------------------------------------------------*/	
	-ms-flex-direction:column;	
	
	/*---------------------W3C---------------------------------------------------------*/
	box-orient:vertical;		
	
}
#booking_message_cont{
	/*width:100%;*/
	/*border:1px solid green;*/
	min-height:20px;
	margin:0%;
	padding:0%;	
}
#bookingMessage{
	text-align:center;
	color:red;
}
#roomBookingCont{
	height: 500px;
	/*---------------------Safari, Opera and Crome-------------------------------------*/	
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack: center;	
	
	/*---------------------Firefox-----------------------------------------------------*/
	display: flex;	
	/*-moz-box-orient:vertical;*/
	flex-direction:column;
	/*-moz-box-pack:center;*/
	justify-content:center;
	/*align-items:center;*/
	
	/*---------------------W3C---------------------------------------------------------*/
	display: box;	
	box-orient: vertical;	
	box-pack:box;
	/*---------------------EXPLORER 10--------------------------------------------------*/	
	display: -ms-flexbox;
	-ms-flex-pack:center;	
	-ms-flex-direction:column;	
	
	/*border:1px solid red;*/
		
}
#tableRooms{
	/*---------------------Safari, Opera and Crome-------------------------------------*/		
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;	

	/*---------------------Firefox-----------------------------------------------------*/
	/*
		display: -moz-box;	
		-moz-box-orient:vertical;
		-moz-box-pack:center;
	*/
		display:flex;
		flex-direction:column;
		justify-content:center;
		/*align-items:center;*/
	/*---------------------W3C---------------------------------------------------------*/
	display: box;	
	box-orient:vertical;
	box-pack: center;
	
	/*---------------------EXPLORER 10--------------------------------------------------*/
/*	
	display: -ms-flexbox
	-ms-flex-pack:center;
	-ms-flex-direction:column;		
	*/	
	/*border:1px solid white;*/	
	width: 100%;
	/*table-layout: fixed;*/
}
#tableRooms thead, #tableRooms tbody{
	/*---------------------Safari, Opera and Crome-------------------------------------*/	
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack:center;
	
	/*---------------------Firefox-----------------------------------------------------*/
/*	
	display: -moz-box;
	-moz-box-orient:vertical;
	-moz-box-pack:center;
*/
	display:flex;
	flex-direction:column;
	justify-content:center;
	/*align-items:center;*/
	
	/*---------------------EXPLORER 10--------------------------------------------------*/
/*	
	display: -ms-flexbox;
	-ms-flex-direction:column;
	-ms-flex-pack:center;	
	*/
	/*---------------------W3C---------------------------------------------------------*/
	display:box;
	box-orient:vertical;
	box-pack:center;
	
	/*border:1px solid yellow;*/
}
#tableRooms tr{
	/*---------------------Safari, Opera and Crome-------------------------------------*/	
	display:-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:center;	
	-webkit-box-align:center;
	
	/*---------------------Firefox-----------------------------------------------------*/
/*	
	display: -moz-box;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;
*/
	display: flex;
	flex-direction:row;
	justify-content: center;
	/*align-items:center;*/
	
	/*---------------------EXPLORER 10--------------------------------------------------*/
/*	
	display: -ms-flexbox;
	-ms-flex-pack:center;	
	-ms-flex-direction:row;
	-ms-flex-align:center;
	*/
	/*---------------------W3C---------------------------------------------------------*/
	display: box;
	box-pack:center;
	box-align:center;
	box-orient:horizontal;
			
}
#tableRooms td{	
	/*---------------------Safari, Opera and Crome-------------------------------------*/	
	display: -webkit-box;
	-webkit-box-flex:1;
	text-align:-webkit-center;	
		
	/*---------------------Firefox-----------------------------------------------------*/
/*	
	display: -moz-box;
	-moz-box-flex:1;
	justify-content:center;
*/
	display:flex;
	/*justify-content:center;*/
	flex:auto;
	justify-content:center;
	align-items:center;
	
	/*---------------------EXPLORER 10--------------------------------------------------*/
	/*
	display: -ms-flexbox;
	-ms-flex:1;
	CENTER TEXT IN CELLS FOR EXPLORER	
	justify-content:center;
*/
	/*---------------------W3C---------------------------------------------------------*/
	display: box;
	box-flex:1;	
	/*text-align:center;*/
	
	
	/*border:1px solid white;*/
	/*TO MAKE EQUALLY LARGE TABLE DATA FIELDS JUST SET A WIDTH, WEBKIT WILL FIX THE REST*/	
	width:1%;
	
}

#tableRooms tr:nth-child(even){
	background-color: #0F0F0F;	
}
#tableRooms thead tr:first-child{
	background-color: #0F0F0F;	
}
/*
#tableRooms tr:nth-child(odd){
	background-color: #1874CD;	
}
*/
#buttonBookAndLink{
	margin: 10px auto;	
	
	/*---------------------Safari, Opera and Crome-------------------------------------*/	
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
	text-align:-webkit-center;	
	
	/*---------------------Firefox-----------------------------------------------------*/
	display:-moz-box;
	-moz-box-orient:vertical;
	-moz-box-pack:center;
	text-align:-moz-center;
	
	/*---------------------EXPLORER 10--------------------------------------------------*/
	display: -ms-flexbox;
	-ms-flex-pack:center;
	/*text-align: -ms-center;*/
	/*justify-content:center;*/
	-ms-flex-direction:column;
	/*SET ITEMS IN CENTER FOR EXPLORER*/	
	align-items:center;
	
	/*---------------------W3C---------------------------------------------------------*/
	display: box;
	box-pack:center;
	box-orient:vertical;
	text-align: center;
	
	height:90px;
	/*border:1px solid yellow;*/
}
#bookRoom{	
	font-size: 20px;
	margin-top: 10px;	
	/*border:1px solid orange;*/	 
}
h2{
	text-align:center;
}
#newSearchBooking{
	color:red;
	text-align:center;
}

/*Adjustments mainly for mobile phones*/
@media only screen and (min-width:1px) and (max-width:600px){
	#section_content_booking1{
		width:100%;
		min-height:300px;
	}
	/* --------First part of page-----------------------------------------*/	
	#articleBooking1{	
		min-height: 680px;	
	}	
	#bookingText{	
		width: 98%;
		margin:1% 1%;		
	}
	#bookingText header h2{
		font-size: 110%;	
	}
	#bookingText content p{
		font-size: 80%	
	}
	#bookingPictures{
		width: 98%;
		margin:1% 1%;		
	}
	/* --------Second part of page-----------------------------------------*/
	#articleBooking2{
		height: 450px;		
	}	
	#bookingFromToCont{	
		width:100%;				
	}
	#bookingFromCont{		
		width:100%;				
	}	
	#bookingToCont{
		width:100%;
	}
	#bFromDate, #bToDate{		
		width: 50%;	
		/*font-size: 60%*/				
	}			
	#bookingDivButton{
		margin:0% auto;
		width:100%		
	}
	#buttonSearchRoom{		
		width:51.5%;	
	}
	/* --------Second part of page-----------------------------------------*/
	#tableRooms{
		font-size: 70%;	
	}
}

@media only screen and (min-width:601px) and (max-width:1100px){
	#bFromDate, #bToDate{		
		width: 80%;
		/*font-size: 60%;*/						
	}
	#bookingDivButton{
		width: 100%	
	}	
}
/*----------Only for adapting the arrival and departure buttons----------*/
/*
@media only screen and (min-width:901px) and (max-width:1200px){
	#bFromDate, #bToDate{		
		width: 95%;
		font-size: 50%						
	}
}
*/
/*
@media only screen and (min-width:601px) and (max-width:900px){
	#bFromDate, #bToDate{		
		width: 80%;
		font-size: 60%;						
	}
}
*/
/*
@media only screen and (max-width:1500px){
	.bookingCal div{	
		font-size: 80%;	
	}
}
@media only screen and (max-width:1350px){
	.bookingCal div{	
		font-size: 70%;	
	}
}
@media only screen and (max-width:1200px){
	.bookingCal div{	
		font-size: 60%;	
	}
}
*/


