@CHARSET "ISO-8859-1";
#section_content1{	
	width: 1000px;
	min-height: 700px;
	background-color: #000000;	
	margin: 4px auto;
}
#textBlock{
	height:300px;
	width:500px;
	margin:0px auto; 
	padding-top:5px;	
	display:block;	
}
#section_heading {
	text-align: center;
			
}
#content_text1{
	text-align:left;
	padding-left: 10px;	
}
#contPictures{		
	display: block;	
	width: 990px;
	min-height: 340px;	
	/*border: 2px solid red;*/
	margin: 4px auto;
}
#contPicRoom, #contPicInt, #contPicExt{
	float:left;
	height:300px;
	width: 300px;
	margin: 15px;		
}
.hotelPictures{
	height: 245px;
	width: 280px;
}
.prevNextPic{
	display:block;
	margin: 10px auto;	
	width: 140px;
	border: 1px solid #FFFF66;
}
#next0, #next1, #next2, #prev0, #prev1, #prev2{	
	display:inline;	
	padding: 0 5px;
	
}

