@CHARSET "ISO-8859-1";
/* ----------------------- Footer section ------------------------- */
#footer_section{
	margin: 20px auto;
	width: 1000px;
	height: 40px;
	background-color: #000000;
	border-radius: 0px 0px 10px 10px;
	clear:both;
	border:1px solid red;
}
#p_Footer{
	clear:both;
	text-align: center;
}
